.column-filter .custom-menu-item:focused {
    -fx-background-color: transparent;
}

.filter-panel {
    -fx-spacing: 10px;
}
.filter-panel .list-view {
	-fx-control-inner-background: rgb(5, 5, 5);
	-fx-control-inner-background-alt: derive(-fx-control-inner-background, 5%);
}